<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybats-3-mapper.dtd">
  
<mapper namespace="kr.co.baemin.mapper.LoginMapper">
	<select id="login_ok" parameterType="kr.co.baemin.vo.MemberVo"
						resultType="kr.co.baemin.vo.MemberVo">
		select name,userid from member where userid=#{userid} and pwd=#{pwd}
	</select>
	
	<select id="userid_search" resultType="String">
		select userid from member where name=#{param1} and email=#{param2}
	</select>
	
	<select id="pwd_search" resultType="String">
		select pwd from member where name=#{param1} and email=#{param2} and userid=#{param3}
	</select>
</mapper>